*.pyc
*.log
*.swp
*.bak
*.weights
*.trec
*.ranklist
*.DS_Store
predict.*
build/
dist/
log/*
seq2seq/log/*
seq2seq/querydecision/
.idea/
examples/wikiqa/weights
.vscode/
data/
embed.idf
model.png
.gitignore
LICENSE
README.md
best_model/arcii.config
best_model/arcii.pkl
best_model/arcii_score.pkl
best_model/cntn.config
best_model/cntn.pkl
best_model/cntn_score.pkl
best_model/mvlstm.config
best_model/mvlstm.pkl
best_model/mvlstm_score.pkl
best_model/result.tsv
best_model/result.txt
best_model/wec.config
best_model/wec_score.pkl
setup.py
tests/
log/