*.pyc
*.log
*.swp
*.bak
*.weights
*.trec
*.ranklist
*.DS_Store
predict.*
build/
dist/
log/*
seq2seq/log/*
seq2seq/querydecision/
.idea/
examples/wikiqa/weights
.vscode/
data/WikiQA/*.zip
data/WikiQA/*.txt
!data/WikiQA/*.py
!data/WikiQA/*.sh
embed.idf
examples/toy_example/weights/*

