*.pyc
*.log
*.swp
*.bak
*.weights
*.trec
*.ranklist
*.DS_Store
predict.*
build/
dist/
log/*
seq2seq/log/*
seq2seq/querydecision/
.idea/
examples/wikiqa/weights
.vscode/
data/
log/
toy_example/weights/1522382089.3818443/.config
